<div class="performanceall">
    <div class="performancehead">
        <h1> Performance and Goals</h1>
    </div>          
    <div id="performbtns">
        <button onclick={{action (mut display) "enter-data" }} class="performancebtn">Display Performances</button>
        <button onclick={{action (mut display) "getperformances"}} class="performancebtn">Display Performances</button>
        <button onclick={{action (mut display) "set-goals"}} class="performancebtn">Enter All your Goals</button>
        <button {{action 'performancechart'}} class="performancebtn">Performance on chart</button>
    </div>
    <div class="performancebody">
        {{#if (eq display "set-goals")}}
            {{component display}}
        {{/if}}
        {{#if (eq display "enter-data")}}
            {{component display}}
        {{/if}}
        {{#if (eq this.display "getperformances")}}
            <div id="displayall">
                <table>
                    <tr>
                        <th>Name</th>
                        <th>distance</th>
                        <th>duration</th>
                    </tr>
                    {{#each  this.model as |performance|}}
                        <tr>
                            <td>{{performance.user.name}}</td>
                            <td>{{performance.distance}}</td>
                            <td>{{performance.duration}}</td>
                        </tr>
                    {{/each}}
                </table>
            </div>
        {{/if}}
    </div>
    {{log width}}
    <div id="chartholder">
        {{#if (eq this.display "displaychart")}}
            {{fusioncharts-xt 
            width=600 
            height=400 
            type=type 
            dataFormat='json'
            dataSource=dataSource}}
        {{/if}}
    </div>
    <div id="linktoranking">{{#link-to "ranking" }}{{"Rankings"}}{{/link-to}}</div>
    <button {{action 'logout'}} id="logout">Logout</button>
</div>
