<div class="wholeranking">
    <div class="rankhead">
        <h2>Top Rankings</h2>
    </div>
    <div class="buttonholder">         
        <button onclick={{action (mut display) "rankDistance"}} class="performancebtn">Ranking by Distance</button>
        <button onclick={{action (mut display) "rankDuration"}} class="performancebtn">Ranking by Duration</button>
        <button onclick={{action (mut display) "rankCity"}} class="performancebtn">Rank based on city</button>
        <br>
    </div>
    <div class="rankbody">
        {{#if (eq display "rankCity")}}
            <label for="">Enter the city</label><br>
            {{input type="text"name="city" value=city }}<br><br>
            <button onclick={{action (mut display) "sortcity"}}>Sort by City</button>
        {{/if}}
        {{#if (eq display "sortcity")}}
            <table>
                <tr>
                    <th>Name</th>
                    <th>distance(in Kms)</th>
                </tr>
                {{#each (sort-by "distance" this.model) as |performance|}}
                {{#if (eq performance.user.location city)}}
                    <tr>
                        <td>{{performance.user.name}}</td>
                        <td>{{performance.distance}}</td>
                    </tr>
                {{/if}}
                {{/each}}
            </table>
        {{/if}}
        {{#if (eq display "rankDistance")}}
            <table>
                <tr>
                    <th>Name</th>
                    <th>distance(in kms)</th>
                </tr>
                {{#each (sort-by "distance" this.model) as |performance|}}
                <tr>
                    <td>{{performance.user.name}}</td>
                    <td>{{performance.distance}}</td>
                </tr>
                {{/each}}
            </table>
        {{/if}}
        {{#if (eq display "rankDuration")}}
            <table>
                <tr>
                    <th>Name</th>
                    <th>duration(in hrs)</th>
                </tr>
                {{#each (sort-by "duration" this.model) as |performance|}}
                    <tr>
                        <td>{{performance.user.name}}</td>
                        <td>{{performance.duration}}</td>
                    </tr>
                {{/each}}
            </table>
        {{/if}}
    </div>
    <div id="linktoperformance">{{#link-to "performance" }}{{"Performance"}}{{/link-to}}</div>
    <button {{action 'logout'}} id="logout">Logout</button>
</div>
