<div id="wholesignup">
  <form {{action 'createUser' name age email city state country password on="submit"}}>
    <div class="signuphead">
      <h1>Run Tracker</h1>
    </div>
    <div class="signupbody">
      <div id="signupname">
      <label for="">Name</label> 
      {{input required=true type="text" value=name }}
      </div>
      <label for="">age</label>
      {{input required=true type="text" value=age }}
      <label for="">email</label>
      {{input required=true type="text" value=email }}
      <label for="">city</label>
      {{input required=true type="text" value=city }}
      <label for="">State</label>
      {{input required=true type="text" value=state }}
      <label for="">Country</label>
      {{input required=true type="text" value=country }}
      <label for="">password</label>
      {{input required=true type="password" value=password }}
    </div>
    <button type="submit">Sign up</button>
  </form>
</div>
{{outlet}}
